.type{

}
.type .row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-right: 0.6rem;
	margin-left: 0.6rem;
}
.type .item .item_image{
	width: 0.68rem;
	height: 0.68rem;
}
.type .item img{
	width: 100%;
	height: 100%;
}
.type .item .item_font{font-size: 0.15rem;text-align: center;}